@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

body {
  margin: 0px;
  padding: 0px;

  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
/* #about {
  background-color: #f3fdff;
  box-sizing: border-box;
  padding: 50px;
} */

@media (max-width: 1190px) {
}

@media (max-width: 970px) {
}
@media (max-width: 600px) {
}

@media (max-width: 1100px) {
}
@media (max-width: 400px) {
}
